<div class="col-md-2">
    <div class="row">
        <nav class="navbar navbar-default left-nav">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="javscript:void(0);">
                        <img src="./assets/images/MM_icon.png" class="pull-left" alt=""> <span>Merchant Management</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/trans-icon.png" class="pull-left" alt=""> <span>Transaction Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/report-icon.png" class="pull-left" alt=""> <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/PM_icon.png" class="pull-left" alt=""> <span>Partner Management</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/FPM_icon.png" class="pull-left" alt=""> <span>Fee Plan Management</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/M_icon.png" class="pull-left" alt=""> <span>Miscellaneous</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/UM_icon.png" class="pull-left" alt=""> <span>User Management</span>
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0);"><img src="./assets/images/QM_icon.png" class="pull-left" alt=""> <span>Queue Management</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
