<div class="header col-xs-12">
        <img src="../assets/images/FD_LOGO.png" class="pull-left" alt="">
        <div class="col-md-3 pull-right links">
            <div class="row">
                <a href="javascript:void(0)" class="user">John Smith</a>
                <a href="javascript:void(0)" class="help">Help</a>
                <a href="javascript:void(0)">Settings</a>
                <a href="javascript:void(0)" class="powerbtn pull-right"><img src="../assets/images/powerbtn.png" /></a>
            </div>
        </div>
</div>
